Usagi

*FSID.proto

_includes/
_libs/
_build/
_tools/
_romfiles/
_rom/
.vs/
*.obj
*.dbo
*.ilk
*.ncb
*.pdb
*.suo
*.opensdf
*.sdf
*.VC.db
*.ipch
*.sublime-workspace
*.VC.opendb
*_pb2.py
*.msuo
*.pb.*
**/*.mpuo
*.sys.*
~*.png

build.ninja
Gemfile.lock
.vs/config/applicationhost.config
**/BuildID.h
event_docs.txt

**/audio_gen/
